input[type="url"].redonp-openid-url, input[type="text"].redonp-openid-url {
	background-image: url(./OpenID_logo.svg);
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 22px 20px;
	padding-left: 36px;
}